<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="upload" href="/tabs/upload">
      <ion-icon aria-hidden="true" name="image"></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="receipt" href="/tabs/receipt">
      <ion-icon aria-hidden="true" name="receipt"></ion-icon>
      <ion-label>Receipt</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="share" href="/tabs/share">
      <ion-icon aria-hidden="true" name="calculator"></ion-icon>
      <ion-label>Share</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payers" href="/tabs/payers">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Payers</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
